html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121217; /* Dark background */
  color: #e0e0e0; /* Light text */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-width: 300px;
}
